*~
*.pyc
tags
.vim/bundle/a.vim/*
.vim/bundle/ctrlp.vim/*
.vim/bundle/nerdcommenter/*
.vim/bundle/nerdtree/*
.vim/bundle/numbers.vim/*
.vim/bundle/snipMate/*
.vim/bundle/tagbar/*
.vim/bundle/vim-airline/*
.vim/bundle/vim-dragvisuals/*
.vim/bundle/vim-fugitive/*
.vim/bundle/vim-gitgutter/*
.vim/bundle/vim-matchit/*
.vim/bundle/vim-multiple-cursors/*
.vim/bundle/vim-rails/*
.vim/bundle/vim-speeddating/*
